<section class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h1>RoR Auth0 Sample</h1>
  <p>Step 1 - Login.</p>
  <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
  <p>Or Lock v11 for Web</p>
  <%= link_to 'Login with Lock v11 for Web', auth0js_path %>
  <p>Or Devise</p>
  <%= link_to 'Login with Devise', devise_sample_path %>
</section>
